body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.heading1{
    color: white;
    font-size: 40px;
    width: 550px;
    text-align: center;
    padding-left: 500px;
    padding-top: 150px;
    padding-right: 2px;
}

.paragraph{
    color: white;
    width: 600px;
    text-align: center;
    padding-left: 500px;
    padding-top: 5px;
    padding-right: 2px;
    padding-bottom: 50px;
    
    
}
.link{
    
    text-decoration: none;
    text-align: center;
    padding-bottom: 60px;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 5px;
    margin-left: 700px;
    margin-top: 60px;
    
    
    
}
.background{
    background-image: url(donation13.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    height:600px ;
}
.heading2{
    font-size: 40px;
    padding-left: 650px;
    padding-top: 120px;
}
.paragraph2{
    padding-left: 500px;
    text-align: center;
    width: 600px;
    padding-bottom: 50px;
}
#list{
    margin-left:450px ;
    background-color: gray;
    color: aquamarine;
    padding: 20px;
    font-size:20px
}
#list2{
    padding: 20px;
    color: red;
    background-color: tomato;
    margin: 40px;
    font-size: 20px;
}
.Taka{
    margin: 30px;
    background-color: gray;
    padding: 20px;
    color: aquamarine;
    font-size:20px ;
}
#Taka2{
    padding-top: 40px;
    margin-left: 700px;
    font-size: 20px;
}
.top{
    margin-top: 50px;
}
.plan{
    background-image: url(food.PNG);
    background-repeat: no-repeat;
    margin-left: 210px;
    background-color: aquamarine;
    padding: 50px;
}

.heading3{
    padding-top: 70px;
}
.paragraph3{
    text-align: left;
    width: 300px;
}
.plan2{
    background-image: url(shelter.png);
    background-repeat: no-repeat;
    margin-left:50px ;
    background-color: tomato;
    padding: 50px;
}
.section1{
    display: flex;
}
.plan3{
    background-image: url(Frame-1.png);
    background-repeat: no-repeat;
    margin-left: 50px;
    background-color: gray;
    padding: 50px;
}
.section2{
    display: flex;
    width: 50%;
}
.section2 img{
    width: 700px;
    height: 400px;
    margin-left: 200px;
    margin-top:100px ;
}
.paragraph4{
    padding-left:20px ;
    width: 200px;
    margin-top: px;
    margin-left: 100px;
}
.heading4{
    margin-top:100px ;
    width: 400px;
    margin-left: 100px;
}
.link2{
    text-decoration: none;
    text-align: center;
    padding-bottom: 60px;
    background-color: tomato;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left:100px ;

}